@import url(./normalize.css);

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 180, 166);
    color: white;
}

* {
    box-sizing: inherit;
}

main{
    flex: 1;
}

h2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:5px;
    margin-top: 5px;
    background-color: rgb(248, 61, 14);
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
}

footer {
    background-color: rgb(248, 61, 14);
}

footer p {
    text-align: center;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}

.scrollable {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

.collapsible {
    cursor: pointer;
    
}

.image {
    max-width: 300px;
    height: auto;
}

.enlarged {
    max-width: none;
    height: auto;
  }

#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}