/*
Author: Paul Kim
Date: April 5, 2023
Version: 1.0
Stylesheet for mini art gallery webapp
*/

@import url(./normalize.css);

@font-face {
    font-family: 'Bough';
    src: url(../font/Bough-Regular.otf);
}

html {
    box-sizing: border-box;
    font-family: 'Bough';
    background-color: rgb(243, 185, 172);
    color: white;
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit;
}

main {
    flex: 1;
}



footer p {
    text-align: center;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}

.pointer{
    width: 15px;
    height: auto;
}

.scrollable {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: rgb(255, 85, 74) white;
}

.collapsible a{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgb(255, 85, 74);
    padding: 13px;
    border-radius: 10px;
    font-size: 20px;

}

.collapsible a:focus{
    background-color: orange;
}

.collapsible a{
    text-decoration: none;
    color: white;
}

.image {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 300px;
    height: auto;
}

.enlarged {
    max-width: none;
    height: auto;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#shop-link {
    text-decoration: none;
    color: white;
    padding: 15px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(57, 57, 207); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  #pointer-top{
    color: white;
    transform: rotate(180deg);
  }