/*
Author: Paul Kim
Date: April 5, 2023
Version: 1.0
Stylesheet for mini art gallery webapp
*/

@import url(./normalize.css);

@font-face {
    font-family: 'Bough';
    src: url(../font/Bough-Regular.otf);
}

html {
    box-sizing: border-box;
    font-family: 'Bough';
    background-color: rgb(243, 185, 172);
    color: white;
}

* {
    box-sizing: inherit;
}

main {
    flex: 1;
}

footer p {
    text-align: center;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}

.pointer{
    width: 15px;
}

.scrollable {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: rgb(255, 85, 74) white;
}

.collapsible {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgb(255, 85, 74);
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;

}

.image {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 300px;
    height: auto;
}

.enlarged {
    max-width: none;
    height: auto;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#shop-link {
    text-decoration: none;
    color: white;
    padding: 15px;
}